# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools - Development environment open source tools
- Example of evaluating arithmetic
- Example of converting the time

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn
4. Matplotlib
5. Keras

|  Data Science Tools  |
|  ------------------  |
|      R Studio        |
|   Jupyter Notebook   |
|    Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Shafira Mayora Handriyudha